<a href="https://colab.research.google.com/github/Cherow/week4-independent-project/blob/main/moringa_data_science_prep_week4_2021_9_mercy_cherotich.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

working as a data scientist working for an electric car-sharing service company tasked to process stations data to understand electric car usage over time by solving for the following research question;

Research Question

1.Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.

2.What is the most popular hour for returning cars?(bluecar)
3.What station is the most popular?

      -Overall?

       -At the most popular picking hour?

4.What postal code is the most popular for picking up Blue cars? Does the most popular station belong to that postal code?

5.the most popular postalcode for the utilib and utilib 1.4 cars

In [110]:

#importing the libraries to be used
#pandas
import pandas as pd
#numpy
import numpy as np

In [111]:

#loading our dataset from csv files
autolib = pd.read_csv('/content/Autolib_dataset (2).csv')
#previewing 10 records from dataset
autolib.head(10)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23
5                8 Boulevard Voltaire     0                0  ...    6     7       2
6                      37 rue Leblanc     0                0  ...    8    18      20
7         17 Rue des Luaps ProlongÃ©e     3                3  ...    4    22      13
8               34 avenue Jean Moulin     1                1  ...    2    22      58
9        41 boulevard de Rochechouart     6                6  ...    4    15       2

[10 rows x 25 columns]

In [112]:

#checking the information about our data
autolib.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [113]:

#removing the data we will not need in our study
#we remove the address,geo point, displayed comments,cars which is same as the bluecar counter,Displayed comment since we will not need them,
#month and year since we already know it is the month of april 2018,
#sheduled at,ID column
autolib_1 = autolib.drop(['Address','Geo point','Cars','Displayed comment','month','year','Scheduled at','ID'],axis = 1)
autolib_1.head(5)
#we also remove the row whose kind is Center and whose station type is sub_center because they have no resources
autolib_2 = autolib_1.drop([2038,3985,4053],axis = 0)
autolib_2.head(2)

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  day hour minute
0                0               0                   0  ...    8   11     43
1                6               0                   0  ...    6    7     24

[2 rows x 17 columns]

In [114]:

#checking our data if there is any null values
autolib_2.isnull().values.any()

False

In [115]:

#checking for any duplicates in our data set and dropping them
autolib_2.duplicated()
autolib_3 = autolib_2.drop_duplicates()
autolib_3.head(5)

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  day hour minute
0                0               0                   0  ...    8   11     43
1                6               0                   0  ...    6    7     24
2                3               0                   2  ...    3   20     14
3                3               1                   0  ...    4    4     37
4                3               0                   0  ...    8   17     23

[5 rows x 17 columns]

In [116]:
#challenge 1
#the most popular hour for picking up the bluecar in the city of paris
#selecting the Bluecar column to be used
autolib_4 = autolib_3.drop(['Utilib counter','Utilib 1.4 counter'],axis = 1)
autolib_4.head(5)
#selecting the city of paris
autolib_5 = autolib_4[autolib_4['City'] == 'Paris']
autolib_5.head(5)

   Bluecar counter  Charge Slots Charging Status  ... day hour  minute
0                0             0     nonexistent  ...   8   11      43
1                6             0     operational  ...   6    7      24
3                3             1     operational  ...   4    4      37
4                3             0     nonexistent  ...   8   17      23
5                0             0     nonexistent  ...   6    7       2

[5 rows x 15 columns]

In [117]:
#challenge 1
#the popular hour for picking the bluecar where kind is station  in paris city
autolib_6 = autolib_5[autolib_5['Kind'] == 'STATION']
autolib_6
#getting the most popular hour
autolib_7 = autolib_6.groupby('hour').size()
autolib_7.sort_values(ascending=False).head(1)

hour
21    129
dtype: int64

In [118]:
#challenge 2
#the most popular hour for returning for the bluecar cars
#this is where kind is parking meaning that is when people park cars
autolib_8 = autolib_4[autolib_4['Kind'] == 'PARKING']
autolib_8.head(10)
#getting the most popular hour 
autolib_9 = autolib_8.groupby('hour').size()
autolib_9.sort_values(ascending= False).head(1)

hour
14    16
dtype: int64

In [119]:
#challenge 3
#what is the most popular station for the bluecar car
autolib_10 = autolib_4.groupby('Public name').size()
autolib_10.sort_values(ascending= False).head(1)

Public name
Paris/Porte de Montrouge/8    13
dtype: int64

In [120]:
#challenge 3
#the most popular station at picking hours
autolib_11 = autolib_3[autolib_4['Kind'] == 'STATION']
autolib_11
#grouping the station and finding the most popular
autolib_12 = autolib_11.groupby('Public name').size()
autolib_12.sort_values(ascending= False).head(1)

Public name
Paris/Porte de Montrouge/8    13
dtype: int64

In [121]:
#challenge 4
#postal code popular for picking Bluecars
autolib_13  = autolib_4[autolib_4['Kind'] == 'STATION']
autolib_13
#to get the popular code
autolib_14 = autolib_13.groupby('Postal code').size()
autolib_14.sort_values(ascending= False).head(1)

Postal code
75015    221
dtype: int64

In [122]:
#challenge 4
#does the most popular station belong to the most popular 
autolib_15 = autolib_4[autolib_4['Postal code'] == 75015]
autolib_15
#if the popular station belong to the postal code
autolib_16 = autolib_15[autolib_15['Public name']== 'Paris/Porte de Montrouge/8']
autolib_16

Empty DataFrame
Columns: [Bluecar counter, Charge Slots, Charging Status, City, Kind, Postal code, Public name, Rental status, Slots, Station type, Status, Subscription status, day, hour, minute]
Index: []

In [126]:
#challenge 4
#popular postal code for the bluecar
autolib_17 = autolib_4.groupby('Postal code').size()
autolib_17.sort_values().head(1)

Postal code
94100    2
dtype: int64

In [130]:
#challenge 5
#the most popular postal for the utilib car
#selecting the Bluecar column to be used
autolib_utilib = autolib_3.drop(['Bluecar counter','Utilib 1.4 counter'],axis = 1)
autolib_utilib.head(5)
#selecting the popular postal
autolib_utilib = autolib_4.groupby('Postal code').size()
autolib_utilib.sort_values(ascending = False).head(1)

Postal code
75015    274
dtype: int64

In [133]:
#challenge 5
#the most popular postal for the utilib1.4 car
#selecting the Bluecar column to be used
autolib_utilib4= autolib_3.drop(['Utilib counter','Bluecar counter'],axis = 1)
autolib_utilib4.head(5)
#selecting the city of paris
autolib_utilib4 = autolib_4.groupby('Postal code').size()
autolib_utilib4.sort_values(ascending = False).head(1)

Postal code
75015    274
dtype: int64